body{
    background-color: black;
    font-family:  Source Code Pro, monospace;
    color:green;
    min-height: 100%;
    z-index: 1;
}

#background-main{
    background-image: url(../images/raw-salmon-fillets-and-ingredients-for-cooking-2210x1473.jpg);
    background-size: contain;
}
.main-header{
    text-decoration-style: double;
    text-align: center;
    font-size: 75px;
    color:whitesmoke;
    margin-left: 42%;
    margin-bottom: 30px;
    position: fixed;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table{
    object-fit: cover;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#nav-bar{
    font-size: 200%;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

#nav-bar ul{
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#nav-button:hover{
    background-color: rgb(19, 130, 228);
    color: rgb(14,20,128);
}

#nav-bar li{
    display: inline;
    text-align: center;
    list-style: none;
    margin-right: 100px;
    top:0 ;
    margin-bottom: -20px;
}

#nav-bar a{
    text-decoration: none;
    color: white;
}

#nav-bar center{
    display: table;
    margin: 0 auto;
}

footer {
    height: 150px;
    bottom: 100%;
    position: relative;
}

.social-networks {
    text-align: center;
    
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    bottom: 0;
}