@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

/* General rule to show clickable links */
a:hover {
    cursor: pointer;
    text-transform: capitalize;
}

/* Mobile Forms */
.phone-display {
    display: none;
}

.input-type {
    font-size: 0.875rem;
    height: 2.5rem;
    width: 20rem;
}

/* Targets the entire body of the site. */
body {
    background-color: #e2d6bd;
    font-family: "Dosis", sans-serif;
    min-height: 100%;
    z-index: 1;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 3.125rem;
    min-width: 100%;
    text-align: center;
}

/* Ensures no length scroll is available */
body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

.middle.img {
    width: auto;
    height: auto;
}

/* Creates space between navbar text and icons */
i {
    margin-left: 1.75rem;
}

/* Creates gap between top line of text and hero image zoom */
#welcome-text h1 {
    padding-top: 1.75rem;
}

/* Navbar styling rules */
.navbar {
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255, 0.4);
    top: 0;
    margin-top: 0;
    float: left;
    padding: 6px;
    color: #000000;
    font-size: 1.375rem;
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    background-color: #566573
}

/* Hover and active features for the navbar */
.navbar a:hover {
    text-transform: uppercase;
    font-weight: bold
}

/* Disaplay uppercase text in navbar on active page*/
.active {
    text-transform: uppercase;
}


/* Header and hero-image styling rules */
.main-header {
    color: #E2D6BD;
    font-size: 7.813rem;
    font-family: 'Source Code Pro', monospace;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpg");
    width: auto;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-decoration: none;
}

/* hero -image animation sytling */
.hero-image {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpg");
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Text included ontop of hero image */
.hero-text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E2D6BD;
    text-decoration: none;
}

/* Home page text styling */
#welcome-text {
    padding-top: 5px;
}

/* Home page opening text */
#ingredients h3 {
    padding-top: 1.875rem;
    text-decoration: none;
}

.index-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    z-index: 1;
}

.index-img {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes index-img {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}

/* Menu PageStyling */
#container-menu h1 {

    border-bottom: whitesmoke solid 50px;
    border-width: medium;
}

/* Titles for each section on menu */
.menu-titles {
    font-size: 2.5rem;
    text-decoration: underline;
    border-bottom: medium;
    border-bottom-color: #e2d6bd;
    border-width: medium;
}

#appetisers,
#mains {

    border-bottom: #F5F5F5 solid 5px;
    border-width: medium;
}

.veg {

    font-size: medium;
}

/* Reviews Page styling */
#review-form {
    float: left;
    padding-left: 20%;
}

#form-review #texta {
    width: 65%
}

#review-page h3 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 20%;
    padding-top: 5%;
    font-size: 1rem;
}

/* contact us page */
/* Three info boxes at top of page */
.box-contact {
    background-color: white;
    color: #000000;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    height: 37.5rem;
    font-size: 3.125rem;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 5rem;
}

/* hides the form made just for mobiles */
#mobile-view {
    display: none;
}

label {
    font-size: 1.25rem;
}

#number-contact h3 {
    font-size: 20px;
    text-decoration: none;
}

#parent {
    margin: 1.25rem;
    padding: 2rem 2rem;
}

#contact-form {
    margin-top: -4rem;
}

#form-review input {
    display: flex;
    margin-top: 1.25rem;
}

/* footer styling */
.social-footer {
    width: 100%;
    height: 1.25rem;
    bottom: 0;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0.4);
    position: fixed;
}

.footer-main {
    position: fixed;
    background: rgb(255, 255, 255, 0.1);
    text-align: left;
    bottom: 0px;
    float: left;
    padding-bottom: 15px;
    color: #000000;
    font-size: 1.25rem;
}

.footer-main :hover {
    font-size: 2.5rem;
    color: #e2d6bd;
    box-shadow: 0 0 5px #e2d6bd;
    text-shadow: 0 0 5px #000000;
}

.footer-main li {
    list-style-type: none;
    display: inline-block;
}

.social-footer-icons ul li {
    padding: 0 3.75rem 0 0;
}

/* Reserve page styling */
/* Targets all images and form on reserve page*/
#container {
    display: flex;
}

/* img styling */
#right-img,
#left-img {
    width: 25%;
    height: 25%;
    margin: auto;
    margin-top: 5%;
    max-width: 100%;
}

input[type="text"] {
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 3.125rem;
    border-top: #e2d6bd solid 5px;
    border: #e2d6bd solid 5px;
}

/* Opening hours table */
#timetable {

    vertical-align: middle;
    font-family: "Dosis", sans-serif;
    border-style: solid;
    border-radius: 0.938rem;
}

#timetable h2 {
    text-decoration: none;
}

#table {
    display: inline-block;
    margin-bottom: 15%;
}

#timetable #table {
    font-size: 1.563rem;
    font-style: oblique;
    font-variant: small-caps;
}

/* media querys */
/* Iphones */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* Creates general rule for the body and disables scroll horizontaly  */
    body {
        max-width: 100%;
        overflow-x: hidden;
        width: 100%;
    }

    /* Changes to the footer styling */
    footer {
        position: fixed;
        background: none;
    }

    .footer.main {
        background: none;
    }

    .main-header {
        font-size: 2rem;
    }

    /* Resize hero image */
    .hero-image {
        height: 12.5rem;
        animation: none;
        width: 100%;
        top: 2rem;
    }

    .index-img {
        display: none;
    }

    .img-link {
        display: none;
    }

    #timetable {
        top: 50%;
        border-style: none;
    }

    h2 {
        font-size: 0.938rem;
    }

    #left-img,
    #right-img {
        display: none;
    }

    .social-footer {
        background: none;
        padding-left: 5%;
        font-size: small;
        margin: 1rem;
        top: 5%;
    }

    .navbar a {
        float: left;
        display: block;
        background-color: #566573;
        color: #F5F5F5;

        border: transparent;
        text-decoration: none;
        padding: 3px;
    }

    .navbar i {
        display: none;
    }

    #form-div {
        vertical-align: middle;
        padding-left: 1.875rem;
        padding-bottom: 1.875rem;
    }

    #reserve-div textarea {
        width: 18.75rem;
        height: 9.375rem;
    }

    #review-page {
        align-items: center;
        padding-left: 0.625rem;
    }

    .email {
        padding: 3px;
        border-radius: 0.625rem;
        width: 40rem;
        border: none;
    }

    #review-form {
        float: none;
        padding-left: 0;
    }

    #contact-form {
        inline-size: 20px;
        float: left;
        padding-left: 0;
    }

    #contact-form input .textarea {
        width: 50%;
    }

    #contact-form {
        height: 0.938rem;
        width: 100%;
        font-size: 1.563rem;
    }

    #mobile-view {
        font-size: 100%;
        text-decoration: solid;
        background-color: white;
        margin-top: 3rem;
        display: block;
    }

    #contact-form {
        top: 50%;
    }

    #contact-form textarea {
        width: 22rem;
    }

    label {
        display: block;
    }

    .box-contact {
        display: none;
    }

    #google-map {
        position: relative;
        left: 0;
        bottom: -50rem;
    }

    .textarea {
        width: 22rem;
    }

    .spacer {
        margin-top: 18.75rem;
    }

    #contact-form #comment.area {
        width: 40rem;
    }
}

/* media querys */
/* Iphones */

@media only screen and (max-width:320px) {
    .navbar a {
        display: block;
        background-color: #566573;
        color: #F5F5F5;
        border: transparent;
        text-decoration: none;
        padding: 2px;
        font-size: 1.25rem;
        padding-left: 0;
    }

    .main-header {
        font-size: 3rem;
    }

    .footer-main {
        display: table;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255, 0.1);
    }

    .img-link,
    #contact-from,
    #container {
        display: none;
    }

    #form-review {
        display: none;
    }

    .phone-display {
        display: block;
    }

    .phone-display,
    .mobile-input,
    .phone-display #number {
        padding: 0.75rem 0.063rem;
        width: 19rem;
    }

    .phone-display #textarea {
        width: 16rem;
        height: 8rem;
    }

    .phone-display h2 {
        font-size: 1.5rem;
    }

    #review-page {
        align-items: center;
        padding: 2px 2px;
        margin-left: 30px;
    }

    #container-form {
        top: 1.25rem;
    }

    #google-map {
        position: relative;
        left: 0;
        top: -1rem;
    }
}

/* ipads/tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .navbar {
        display: inline-block;
        font-weight: 800;
    }

    .navbar a {
        background-color: #566573;
        color: #F5F5F5;

        border: transparent;
        text-decoration: none;
        padding: 0.5rem;
        font-size: 1.25rem;
        padding-left: 0;
    }

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .index-img {
        max-width: 100%;
        height: auto;
        display: list-item;
        align-items: center;
        justify-content: center;
        padding-left: 3.75rem;
    }

    .index-img {
        animation: none;
    }

    #review-form .textarea {
        width: 100%;
    }

    #review-page h3 {
        padding-right: 5%;
        font-size: 1rem;
    }

    #review-form {
        float: left;
        padding-left: 0;
        top: -3.125rem;
    }

    #parent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 31.25rem;
    }

    .box-contact {
        width: 50%;
        height: fit-content;
        font-size: 1.25rem;
    }

    #reserve-div {
        width: 100%;
    }

    #timetable {
        border: none;
    }

    #left-img,
    #right-img {
        display: none;
    }
}

/* Laptop Display */
@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .index-img {
        max-width: 100%;
        max-height: 100%;
        animation: none;
    }
}

/* Removes bug for images loading inbetween screen sizess */
@media screen and (min-width: 481px) and (max-width:767px) {

    #left-img,
    #right-img {
        display: none;
    }

}